{% extends 'etudiant/base.html' %}
{% block content %}
    
<div class="row">
    <div class="col-sm-15">

     <h4 class="text-center alert alert alert-info">Ajouter un nouveau etudiant</h4>

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-sucess" value="Ajouter">
        </form>
    </div> 
   
    <a href="{% url 'afficher'  %}" class="btn btn-warning btn-sm">Afficher</a>

</div>
    {% endblock content %}